<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string></string>
	<key>isLogin</key>
	<false/>
	<key>expiration</key>
	<date>2021-07-12T13:02:02Z</date>
</dict>
</plist>
